*{
	margin: 0;
	padding: 0;
	line-height: 0;
}

.container{
	width: 1200px;
	margin: auto;
}

.logolink{
	margin-top: 5px;
	height: 60px;
	text-align: center;
	width: 100%;
}

.mainwrapper{
	overflow-x:auto; 
	overflow-y:hidden;
	width: 1200px;
	height: 360px;
	margin: auto;
}

.upperpartheading2{
	margin-left: 300px;
}

.upperpartheading3{
	margin-left: 600px;
}

.upperpartheading4{
	margin-left: 900px;
}
/*
.upperpartheading1{
	background-color: orange;
}
.upperpartheading2{
	background-color: blue;
}
.upperpartheading3{
	background-color: yellow;
}
.upperpartheading4{
	background-color: red;
}
*/
.upperpartheading1, .upperpartheading2, .upperpartheading3, .upperpartheading4{
	display: inline-block;
	width: 300px;
	height: 360px;
	margin-top: 100px;
	position: absolute;
	padding-left: 30px;
}

.loginbutton {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    width: 150px;
    height: 40px;
}

.loginbutton:hover {
    background-color: #008CBA;
    color: white;
}

.group{
	position: relative;
	margin-bottom: 45px;
}

form{
	height: 200px;
}

input{
	font-size: 22px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 350px;
	border: none;
	/*border-bottom: 1px solid #757575;*/
	border-bottom: 1px solid white;

}

input:focus {
	outline: none;
}

label{
	color: #999;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
	/*padding-left: 70px;*/
}

input:focus ~ label, input:valid ~ label{
	top: -20px;
	font-size: 20px;
	color: #5264AE;
}

.bar{
	position: relative;
	display: block;
	width: 250px;
}

.bar:before, .bar:after{
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #5264AE;
	transition: 0.2s ease all;
}

.bar:before{
	left : 50%;
}

.bar:after{
	right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after{
	width: 50%;
}

.highlight{
	position: absolute;
	height: 60%;
	width: 600px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

input:focus ~ .highlight{
	animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter{
	from{
		background: #5264AE;
	}

	to {
		width: 0;
		background: transparent;
	}
}

.mainborder{
	background-color: black;
	height: 6px;
}

.image1{
	float: left;
}

.image2{
	float: left;
}

.image3{
	float: right;
}